/*====================== footer ================*/

#footer {
    overflow: hidden;
    background-color: #1C2833; 
}

#footer .row {
   justify-content: space-around;
}

#footer-top-area {
    display: flex;
    flex: wrap;
  
}

.footer-menu a {
    font-size: 3em;
    color: white;
    line-height: 1em;
    letter-spacing: -5px;
    font-family: Playfair Display, serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.footer-menu p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 14px;
    margin-top: .5em;
}

.social-links ul {
    display: flex;
    list-style: none;
}

.footer-links {
    text-transform: uppercase;
}

.footer-links h5,
ul li a {
    color: white;
    text-decoration: none;
}

.menu-list {
    padding: 0;
}

.menu-list li {
    list-style: none;
    color: white;
    padding-bottom: .3em;
}

.contact-item p,
.contact-item p a {
    color: rgb(255, 255, 255);
}

.contact-item p :hover {
    color: rgb(4, 151, 255);
}


/* ------------------------footer bottom----------------------- */

#footer-bottom .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}