 /* Responsive Styles */

 @media (max-width: 768px) {
   .navbar-logo {
     width: 18em;
   }

   .navbar-nav {
     flex-direction: column;
   }

   .nav-item {
     margin: 10px 0;
   }

   .nav-link {
     font-size: 16px;
   }

   .dropdown-menu {
     top: 90%;
   }

   #user {
     font-size: 1.2em;
   }

   .cart {
     font-size: 1em;
   }

   .svg-icon {
     height: 23px;
     width: 23px;
   }
   .dd-icon {
     height: 23px;
     width: 23px;
   }
 }

 @media (max-width: 464px) {
   .navbar-logo {
     width: 14rem;
   }

   .navbar-nav {
     flex-direction: column;
   }

   .nav-item {
     margin: 5px 0;
   }

   .nav-link {
     font-size: 14px;
   }

   .dropdown-menu {
     top: 90%;
   }

   #user {
     font-size: 13px;
     left: 4rem;
   }

   .cart a {
     font-size: 13px;
   }

   .svg-icon {
     height: 15px;
     width: 15px;
   }

   .dd-icon {
     height: 15px;
     width: 15px;
   }

   .dropdown-user {
     left: 3rem;
   }
 }

 @media (max-width: 330px) {
   .navbar-logo {
     width: 12rem;
   }

   .svg-icon {
     height: 18px;
     width: 18px;
   }

   .dd-icon {
    height: 12px;
    width: 12px;
  }

.li a {
  display: flex;
}

   .dropdown-user {
     left: 3rem;
   }
 }