 /* Responsive Styles */
  
 @media (max-width: 768px) {
    .navbar {
      height: 7em;
    }
    .navbar-logo {
      width: 12em;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin: 10px 0;
    }
    .nav-link {
      font-size: 16px;
    }
    .dropdown-menu {
      top: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      height: 5em;
    }
    .navbar-logo {
      width: 8em;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin: 5px 0;
    }
    .nav-link {
      font-size: 14px;
    }
    .dropdown-menu {
      top: 80%;
    }
  }

  
