 /* Responsive Styles */
  
 @media (max-width: 768px) {
    .navbar {
      height: 7em;
    }
    .navbar-logo {
      width: 18em;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin: 10px 0;
    }
    .nav-link {
      font-size: 16px;
    }
    .dropdown-menu {
      top: 90%;
    }
    .right-box {
      width: 11rem;
      top: 5em;
    }
    #user {
      font-size: 1em;
      left: 2em;
    }
    .cart {
      font-size: 1em;

    }
    svg-icon {
      height: 23px;
      width: 23px;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      height: 6em;
    }
    .navbar-logo {
      width: 15em;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin: 5px 0;
    }
    .nav-link {
      font-size: 14px;
    }
    .dropdown-menu {
      top: 90%;
    }
    .right-box{
      width: 10rem;
      top: 4em;
    }
    #user {
      font-size: .5em;
      left: 1em;
    }
    .cart a {
      font-size: .5em;
    }
    svg-icon {
      height: 20px;
      width: 20px;
    }
  }

  @media (min-width: 230px)and(max-width: 480px) { 
    .navbar-logo {
      width: 7.5em;
  }
  .right-box{
    width: 9rem;
    top: 4.1em;
  }
  #user {
    font-size: .2em;
    left: .5em;
  }
  .cart {
    font-size: .2em;

  }
  svg-icon {
    height: 18px;
    width: 18px;
  }
  }