/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 13px;
  font-family: Poppins, Helvetica, sans-serif;
  color: #666;
}

/* Navbar Styles */

.navbar {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  height: 9em;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  width: 18em;
  text-align: left;
}

.navbar-logo img {
  border: 2px solid white;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* menu styling */
.navbar-nav {
  background: #000;
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.nav-item {
  list-style: none;
  margin: 20px 18px;
  position: relative;
}

.nav-link {
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #1a1919;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  top: 100%;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* Additional Styles */

#right {
  height: 50px;
  width: 50px;
  margin: 36px 0px;
  float: right;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* for search button and form  */

.search-container {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 8px 0 0 8px;
  outline: none;
  color: #000000;
}

.searchTerm:focus{
  color: #1e2121;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #000000;
  background: #000000;
  text-align: center;
  color: #000000;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.search-wrap{
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* search styling end  */