/* -----------------
------basic css-----
--------------------  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: white;
    color: black;
    display: flex;
    height: 9em;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Box shadow for navbar */
}

.navbar-logo {
    border: 2px solid red;
    width: 18em;
    text-align: left;
}

.navbar-logo img {
    border: 2px solid white;
    width: 100%;
}

.navbar-nav {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.nav-item {
    list-style: none;
    margin: 0 15px;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: grey;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Box shadow for dropdown menus */
}

.nav-item:hover .dropdown-menu {
    display: block;
}