/*------------------------------------*\
    Table of contents
\*------------------------------------*/

/*------------------------------------------------*/

/* CSS STRUCTURE: */

@import "compass/css3";

/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
  --accent-color: #000000;
  --white-color: #fff;
  --black-color: #8d4242;
  --gray-color: #a71c1c;
  --gray-color-300: #D8D8D8;
  --gray-color-500: #a1a1a1;
  --gray-color-800: #1b1818;
  --light-gray-color: #D7DDDF;
  --primary-color: rgb(255, 0, 0);
  --bs-primary-rgb: rgb(0, 0, 0);
  --light-color: #ffffff;
  --dark-color: #000000;
  --light-blue-color: #EDF1F3;
  --navbar-color-color: #131814;
  --swiper-theme-color: #4A4A4A;
  --swiper-pagination-color: #4A4A4A;

}

/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

/* Fonts */
:root {
  --body-font: "Lato", sans-serif;
  --heading-font: "Jost", sans-serif;
}

/*----------------------------------------------*/
/* 1 GENERAL TYPOGRAPHY */
/*----------------------------------------------*/

/* 1.1 General Styles
/*----------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  background-color: #eff3f4;
}

p {
  font-size: 1.2em;
  color: var(--gray-color-500);
}

ul.inner-list li {
  font-size: 1.2em;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  transition: 0.3s color ease-out;
}

a.light {
  color: var(--light-color);
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

/*------------ Background Color -----------*/
.bg-gray {
  background: var(--gray-color);
}

.bg-dark {
  background: var(--dark-color);
}

.bg-light {
  background: var(--light-color);
}

.bg-light-blue {
  background: var(--light-blue-color);
}

/* - Section Padding
--------------------------------------------------------------*/
.padding-xsmall {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-medium {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-large {
  padding-top: 5em;
  padding-bottom: 2em;
}

.padding-xlarge {
  padding-top: 9.5em;
  padding-bottom: 9.5em;
}

/* no padding */
.no-padding-top {
  padding-top: 3em !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-gutter {
  padding: 0 !important;
}

/* no padding and margin */
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/* - Section margin
--------------------------------------------------------------*/
.margin-small {
  margin-top: 3em;
  margin-bottom: 3em;
}

.margin-medium {
  margin-top: 5em;
  margin-bottom: 5em;
}

.margin-large {
  margin-top: 7em;
  margin-bottom: 7em;
}

.margin-xlarge {
  margin-top: 9em;
  margin-bottom: 9em;
}

@media only screen and (max-width: 768px) {

  .margin-small,
  .margin-medium,
  .margin-large {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


/* - Section Title
--------------------------------------------------------------*/
h3.card-title,
h3.cart-title {
  font-size: 1.3em;
}

/* - Section width
--------------------------------------------------------------*/
.u-full-width {
  width: 100%;
  border: none;
}

/*--------------------------------------------------------------
/** 2.10 Buttons
--------------------------------------------------------------*/
/* - Button Sizes
------------------------------------------------------------- */
.btn.btn-small {
  padding: 0.8em 1.8em;
  font-size: 0.65em;
}

.btn.btn-medium {
  padding: 0.8em 1.8em;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.btn.btn-large {
  padding: 2.4em 5.1em;
  font-size: 1.8em;
}

/* - Button Shapes
------------------------------------------------------------- */
.btn.btn-rounded,
.btn.btn-rounded::after {
  border-radius: 6px;
}

.btn.btn-pill,
.btn.btn-pill::after {
  border-radius: 2em;
}

/* button outline */
.btn.btn-outline-dark,
.btn.btn-outline-light,
.btn.btn-outline-accent {
  background: transparent;
  text-shadow: none;
  box-shadow: none;
}

.btn.btn-outline-dark:hover::after,
.btn.btn-outline-light:hover::after {
  background-color: transparent;
}

.btn.btn-outline-dark {
  border-color: rgba(0, 0, 0, 1);
  color: var(--dark-color);
}

.btn.btn-outline-dark:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn.btn-outline-light {
  border-color: rgba(255, 255, 255, 0.5);
  color: var(--light-color);
}

.btn.btn-outline-light:hover {
  background: var(--primary-color);
  color: var(--light-color);
  border-color: var(--primary-color);
}

.btn.btn-outline-accent {
  background: transparent;
  border-color: var(--accent-color);
  color: var(--dark-color);
}

.btn.btn-outline-accent:hover {
  border-color: var(--dark-color);
  color: var(--dark-color) !important;
}

.btn.btn-full {
  display: block;
  margin: .85em 0;
  width: 100%;
  letter-spacing: 0.12em;
}

/* no border radius */
.btn-rounded-none,
.btn-rounded-none::after {
  border-radius: 0;
}

/* - Buttons Color Scheme
------------------------------------------------------------- */
.btn.btn-normal {
  text-decoration: underline;
  border: none;
}

.btn.btn-normal:hover {
  text-decoration: none;
}

.btn.btn-accent {
  color: var(--light-color);
  background-color: var(--accent-color);
  border: none;
}

.btn.btn-accent:hover {
  color: var(--light-color) !important;
  background-color: var(--primary-color);
}

.btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
}

.btn.btn-black:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: none;
}

.btn.btn-light:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
  border: none;
}

.btn.btn-primary:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* - Buttons Aligns
------------------------------------------------------------- */
.btn-left {
  text-align: left;
  display: block;
}

.btn-center {
  text-align: center;
  display: block;
}

.btn-right {
  text-align: right;
  display: block;
}

/*----------------------------------------------*/
/* 2 SITE STRUCTURE */
/*----------------------------------------------*/

/* - ===================================================================================
========================================Search Bar======================================
========================================================================================
------------------------------------------------------------- */

.search-box {
  background: var(--gray-color);
  position: relative;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 120px;
  cursor: pointer;
  z-index: 9;
}

.search-box input.search-input {
  font-size: 1.3em;
  width: 70%;
  height: 30px;
  padding: 25px;
  border-radius: 80px;
  border-color: rgb(0 0 0 / 25%);
  background: transparent;
}

.search-box svg {
  width: 22px;
  height: 22px;
  color: var(--primary-color);
}

.search-box svg.search {
  margin-left: -50px;
}


/**------------------------------------------------------------
------------------------ Search Form---------------------------
--------------------------------------------------------------*/

.search-form input[type="search"].search-field {
  border: none;
  background: #f1f1f1;
  width: 100%;
  border-radius: 50px;
  padding: 10px 40px;
}

.search-form input[type="search"].search-field::focus {
  border-color: #af9aaa;
}

.search-form button {
  position: absolute;
  top: 6px;
  right: 9px;
  background: transparent;
  border: none;
}

/** -----------------------------------------------------------------------
------------------------------Search Popup---------------------------------
-------------------------------------------------------------------------*/

.search-popup {
  background-color: #F3F3F3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.search-popup.is-visible {
  opacity: 1;
  visibility: visible;
  cursor: -webkit-image-set(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23FFF' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E") 1x, url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E") 2x), pointer;
  cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E"), pointer;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.search-popup-container {
  background-color: transparent;
  position: relative;
  top: 50%;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
  text-align: center;
  box-shadow: none;
  cursor: default;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  /* -webkit-backface-visibility: hidden; */
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.is-visible .search-popup-container {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-popup-form {
  position: relative;
  margin: 0 0 3em 0;
}

.search-popup-form .form-control {
  padding: 0 0 .375em 0;
  font-size: 2em;
}

.search-popup-form #search-popup-submit {
  display: none;
}

.search-popup .search-popup-close {
  display: block;
  position: absolute;
  top: 2em;
  right: 2em;
  margin: -0.5em;
  padding: 0.5em;
  line-height: 0;
}

.search-popup .search-popup-close:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.search-popup .search-popup-close i {
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  fill: rgba(0, 0, 0, 0.5);
}

.search-popup .search-popup-close:hover i {
  fill: rgba(0, 0, 0, 1);
}

.search-popup .cat-list-title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.search-popup .cat-list {
  margin: 0;
  list-style-type: none;
}

.search-popup .cat-list-item {
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: 0.015em;
  font-size: 2em;
}

.search-popup .cat-list-item a {
  position: relative;
}

.search-popup .cat-list-item a::after {
  background: none repeat scroll 0 0 #fff;
  content: "";
  height: 1px;
  border-bottom: 1px solid #ff9697;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.search-popup .cat-list-item a:hover::after {
  height: 1px;
  opacity: 1;
  -webkit-transform: translateY(lid red);
  transform: translateY(lid red);
}

.search-popup .cat-list-item::after {
  content: "/";
  padding: 0 5px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: text-top;
}

.search-popup .cat-list-item:last-child::after {
  display: none;
}

@media only screen and (max-width: 991px) {

  .search-popup .cat-list-item,
  .search-popup-form .form-control {
    font-size: 1.425em;
  }
}

@media only screen and (max-width: 767px) {
  .search-popup .search-popup-close {
    top: 1em;
    right: 1em;
  }
}

@media only screen and (max-width: 575px) {

  .search-popup .cat-list-item,
  .search-popup-form .form-control {
    font-size: 1.125em;
  }

  .search-popup .search-popup-close {
    top: 1em;
    right: 1em;
  }
}

.search-popup input[type="search"] {
  font-size: 24px;
  height: 60px;
  padding: 26px;
}

.search-popup .search-form button {
  top: 12px;
  right: 15px;
}

.search-popup .search-form button svg {
  height: 28px;
  width: 28px;
}



/* 1.-----------------------------------------------------------------------------
---------------------------------------- Header-----------------------------------
/*------------------------------------------------------------------------------*/

.site-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #FFFFFF;
  transition: background 0.3s ease-out;
}

.navbar-toggler svg.navbar-icon {
  width: 50px;
  height: 50px;
}

.navbar-nav .nav-item a.nav-link {
  color: var(--accent-color);
}

.navbar-nav .nav-item a.nav-link.active,
.navbar-nav .nav-item a.nav-link:focus,
.navbar-nav .nav-item a.nav-link:hover {
  color: var(--primary-color);
}

.logo {
  margin: 0;
  padding: 0;
  height: 5em;
  width: 10em;
}

/*------------ Offcanvas -------------- */
#header-nav .navbar-toggler:focus {
  box-shadow: none;
}

#header-nav .offcanvas.show {
  z-index: 9999;
  background-color: var(--light-blue-color);
}

#header-nav .offcanvas-end {
  width: 500px;
}

.offcanvas.show .nav-item a.nav-link {
  font-size: 2em;
}

.offcanvas.show .offcanvas-body .navbar-nav {
  align-items: unset !important;
  padding-left: 20px;
}


/*-------------------------------------------
---------------- Top User Icons -----------*/

.site-header .user-items svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  #navbar .user-items {
    display: none;
  }
}


/* 2. ------------------------------------------------------------------------
-------------------------------------Billboard--------------------------------
----------------------------------------------------------------------------*/

#billboard {
  position: relative;
  top: 1.2rem;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.homebtn {
  position: absolute;
  text-align: center;
  width: 12rem;
  top: 72%;
  left: 40%;
  display: inline-block;
  font: 800 19.39px/24px "Montserrat", sans-serif;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  padding: 12px 28px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.homebtn:hover {
  background-color: white;
  transition: all 0.3s ease-out;
  color: #010101;
}

@media only screen and (max-width: 767px) {
  #billboard .banner-content {
    margin-top: 210px;
  }

  #billboard .swiper-arrow {
    top: 400px;
  }
}

@media only screen and (max-width: 991px) {}



/* 3.=====================================================================================
================================== Icon Box - Company Services============================
========================================================================================*/

#company-services {
  background: #FFFAFF;
}

.icon-box .icon-box-icon svg {
  width: 26px;
  height: 26px;
  fill: var(--primary-color);
}

@media only screen and (max-width: 991px) {
  #company-services .icon-box {
    flex-wrap: wrap;
  }
}



/* 4===================================================================================
=================================================. Product=============================
=====================================================================================*/

.product-store .product-card .cart-concern {
  bottom: 95px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.product-store .product-card:hover .cart-concern {
  bottom: 7rem;
  opacity: 1;
}

.product-card .cart-concern svg {
  width: 16px;
  height: 16px;
  fill: var(--light-color);
  margin-left: 7px;
}

.product-card .card-detail span {
  font-size: 1.1em;
}

@media only screen and (max-width: 575px) {
  .product-store .product-card .card-detail {
    padding: 10px;
  }
}

/*------------Swiper Pagination -----------*/
.product-store .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -1.3em;
}

.swiper-pagination span.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}



/* 5. =============================================================================
=====================================Sale===================================
==================================================================================*/

#ban_sec {
  width: 100%;
}

.ban_img {
  width: 100%;
  position: relative;
}

.ban_img img {
  width: 100%;
}

.ban_text {
  position: absolute;
  top: 50%;
  left: 6%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ban_text strong {
  font: 800 62.22px/70px "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.ban_text strong span {
  font: 400 44.44px/52px "Montserrat", sans-serif;
  letter-spacing: 3px;
}

.ban_text p {
  font: 400 25px/30px "Montserrat", sans-serif;
  color: #fff;
  margin: 7px 0 25px;
}

.ban_text a {
  display: inline-block;
  font: 800 19.39px/24px "Montserrat", sans-serif;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  padding: 12px 28px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.ban_text a:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .ban_text p {
    font-size: 21px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ban_text p {
    font-size: 17px;
  }

  .ban_text strong {
    font-size: 50px;
    line-height: 60px;
  }

  .ban_text strong span {
    font-size: 37px;
  }

  .ban_text a {
    font-size: 16px;
    line-height: 19px;
  }
}

@media only screen and (max-width: 991px) {
  .ban_text strong {
    font-size: 35px;
    line-height: 40px;
  }

  .ban_text strong span {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 2px;
  }

  .ban_text p {
    font-size: 14px;
    line-height: 20px;
  }

  .ban_text a {
    font-size: 13.39px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .ban_img img {
    min-height: 290px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 575px) {
  .ban_text strong {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .ban_text strong span {
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 1px;
  }

  .ban_text {
    left: 2%;
  }
}


/* 5. =============================================================================
=====================================Testimonial===================================
==================================================================================*/
#testimonials {
  background-color: #edf0f3;
}

.review-item blockquote {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2;
}

.rating svg.star {
  width: 16px;
  height: 16px;
  fill: var(--primary-color);
}

#testimonials .swiper-arrow svg {
  width: 45px;
  height: 45px;
  color: rgb(197, 193, 193);
}

.review-content .swiper-arrow {
  top: 0;
  bottom: 0;
  z-index: 2;
}

.review-content .swiper-arrow.swiper-arrow-next {
  right: 0;
}

.review-content .quotation svg.quote {
  color: rgb(197, 193, 193);
}

@media only screen and (max-width: 767px) {
  #testimonials blockquote {
    font-size: 2em;
  }

  .review-content .swiper-arrow {
    bottom: -420px;
  }
}



/* 6. ---------------------------------------------------------------------------------
-----------------------------------------Subscribe-------------------------------------
-------------------------------------------------------------------------------------*/

.subscribe-content p {
  color: var(--gray-color-500);
}

@media only screen and (max-width: 1199px) {

  .subscription-form input.form-control,
  .subscription-form button {
    width: 100%;
    margin-bottom: 10px;
  }
}



/* 7. ===================================================================================
=========================================Instagram=======================================
=======================================================================================*/
#instagram {
  background-color: #EEEEEE;
}

#instagram figure.instagram-item {
  width: 20%;
}

figure.instagram-item img.insta-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagram-item .icon-overlay {
  top: 30px;
  left: 0;
  width: 100%;
  height: auto;
  color: var(--light-color);
  opacity: 0;
  transition: 0.9s ease-out;
}

.instagram-item:hover .icon-overlay {
  top: 0;
  opacity: 1;
}

.instagram-item .icon-overlay svg.instagram {
  height: 50px;
}

@media only screen and (max-width: 767px) {
  #instagram figure.instagram-item {
    width: 30%;
  }
}

@media only screen and (max-width: 501px) {
  #instagram figure.instagram-item {
    width: 100%;
  }
}



/* 8./*------------------------------------------------------------------------
-------------------------------------------Footer------------------------------
-----------------------------------------------------------------------------*/

/*------------ Social Icon -----------*/

.social-links svg {
  width: 20px;
  height: 20px;
  color: var(--light-gray-color);
}

.social-links svg:hover {
  color: var(--primary-color);
}

.social-links li {
  padding-right: 30px;
}


/* 9. -----------------------------------About Us Page---------------------------------------*/
/*----------------------------------------------*/

/*------------ Video Icon -----------*/

.video-item a {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-item svg.video-player {
  width: 80px;
  height: 80px;
  padding: 19px;
  border-radius: 50%;
}

/* - Shop Page
--------------------------------------------------------------*/
/* ----------- Search Bar -----------*/
.shopify-grid select#input-sort {
  font-size: 1.2em;
  color: var(--dark-grey-color);
  border: none;
  padding: 0;
  text-align: center;
}

/* ----------- SideBar -----------*/
.sidebar input.search-field {
  width: 290px;
  height: 50px;
  box-shadow: 5px 5px 15px 5px #eee;
  border: 1px solid #eee;
  padding-left: 20px;
  outline-offset: 0;
}

.sidebar .search-icon {
  padding: 14px;
}

.sidebar svg.search {
  width: 20px;
  height: 20px;
}

.sidebar h5.widget-title {
  font-size: 1.4em;
  margin-bottom: 15px;
}

.sidebar .sidebar-list li {
  font-size: 1.2em;
}

.sidebar .sidebar-list li a {
  color: var(--dark-30);
}

.sidebar .sidebar-list li a:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 991px) {
  .widget-search-bar form {
    flex-wrap: wrap;
  }
}

/* ----------- Pagination -----------*/
.paging-navigation .pagination .page-numbers {
  font-size: 1.4em;
  color: var(--gray-color-500);
}

.paging-navigation .pagination .page-numbers:hover {
  color: var(--primary-color);
}

.paging-navigation .pagination svg {
  width: 35px;
}



/* 10. --------------------------------Single Product Page------------------------*/
/*----------------------------------------------*/

/*------------ Product Info -----------*/

.product-info .rating svg.star-fill {
  fill: var(--dark-color);
}

.product-info .select-list li.select-item {
  font-size: 1.2em;
}

.product-quantity .input-group {
  width: 140px;
  gap: lid red;
}

.product-quantity #quantity {
  height: auto;
  width: 20px;
  border: none;
  margin: 0;
  padding: 0;
}

.product-quantity #quantity,
.product-quantity .btn-number {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  color: #222;
  padding: 0;
}

.single-product .cart-wrap h4.item-title {
  font-size: 1.5em;
}

.single-product .product-quantity .stock-number {
  font-size: 1.2em;
}

.meta-product h4.item-title {
  font-size: 1.2em;
}

/*------------ Product Info Tabs -----------*/

.product-info-tabs .tabs-listing button {
  font-size: 2em;
  color: var(--dark-color);
}

.product-info-tabs .nav-tabs .nav-link {
  border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active {
  color: var(--primary-color);
}


@media only screen and (max-width: 991px) {
  .product-info-tabs .tabs-listing button {
    font-size: 1.2em;
    padding-right: 20px !important;
  }
}



/* 10. ====================================================================
=============================Cart Page=====================================
=========================================================================*/

.shopify-cart .card-price .money {
  font-size: 1.5em;
}

.shopify-cart .total-price .money {
  font-size: 2.9em;
}

.total-price .cart-totals {
  font-size: 1.5em;
}

.shopify-cart .table th {
  width: 30%;
}


/* 11. Checkout Page
--------------------------------------------------------------*/
.list-group-item span {
  font-size: 1.2em;
}


/* 12. Blog Page
--------------------------------------------------------------*/
/*------------ Sidebar -----------*/
.sidebar-post-item h4.card-title {
  font-size: 1.2em;
}

/* 13. Single Post Page
--------------------------------------------------------------*/
#single-post-navigation .post-navigation span.page-nav-title {
  font-size: 1.5em;
}

.post-navigation svg {
  width: 30px;
  height: 45px;
}

.post-navigation:hover svg,
.post-navigation:focus svg {
  fill: var(--primary-color);
}



/* -----------------------------------------------------------------------
-----------------------user login and register ---------------------------
----------------------------------------------------------------------- */

.login-page {
  padding: 4rem 0 0 1rem;
  background-image: url(images/lo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.container-login {
  margin: auto;
  width: 38%;
  height: 80%;
}

.form-container {
  position: relative;
  top: -2px;
  right: -6rem;
  width: 100%;
  gap: 6px;
  margin: .7rem 0 0 3rem;
  padding: 25px 20px 10px;
  font-size: .8rem;
  color: #212121;
  display: flex;
  font-family: inherit;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container button:active {
  scale: 0.96;
}

.social-buttons {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 8px;
}

.form-container .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: inherit;
  color: #fff;
  border: none;
  padding: 12px 1px;
  gap: 2px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .social-button svg {
  width: 22px;
  height: 22px;
  fill: white;
  margin-right: .6em;
}

.form-container .social-button.facebook {
  background-color: #1778f2;
}

.form-container .social-button.google {
  background-color: #1778f2;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 4px;
}

.form-container .form-group input[type="email"],
.form-container .form-group input[type="password"] {
  width: 100%;
  padding: 10px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input[type="email"]:focus,
.form-container .form-group input[type="password"]:focus {
  outline: none;
  border-color: #1778f2;
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 1px;
  font-size: inherit;
  gap: 2px;
  margin: 2px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
  background-color: #0f0f0f;
}

.form-container .link {
  color: #1778f2;
  text-decoration: none;
}

.form-container .forgot-password-link {
  align-self: flex-end;
  margin-top: -7px;
}

.form-container .signup-link {
  align-self: center;
  font-weight: 500;
}

.form-container .signup-link .link {
  font-weight: 400;
}

.form-container .link:hover {
  text-decoration: underline;
}

.form-container .line {
  width: 100%;
  height: 1px;
  background-color: #1f1f1f;
  opacity: 0.1;
}



/* =============================================================================================
============================================cart page===========================================
============================================================================================= */

#shopping-container {
  position: relative;
  top: 5.5rem;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

#shopping-container table {
  margin-top: 2rem;
}

#shopping-container table td {
  border: 1px solid black;
  text-align: center;
}

#shopping-container table thead tr td {
  background: #000;
  color: #fff;
  font-weight: 800;
  padding: .2rem 0;
}

#shopping-container table td:nth-child(1) {
  width: 100px;
}

#shopping-container table td:nth-child(2),
#shopping-container table td:nth-child(3) {
  width: 200px;
}

#shopping-container table td:nth-child(4),
#shopping-container table td:nth-child(5),
#shopping-container table td:nth-child(6) {
  width: 170px;
}

#shopping-container table td span:hover {
  color: red;
  cursor: pointer;
}

#shopping-container table tbody img {
  width: 4rem;
  height: 5rem;
}

/* --------------------cart bottom------------------- */

#cart-bottom {
  position: relative;
  top: 5.5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div {
  border: 1px solid black;
}

#cart-bottom .coupon h5 {
  background: #000;
  color: #fff;
  font-weight: 800;
  padding: .2rem 1rem;
}

#cart-bottom .coupon p {
  padding: 0 .5rem;
}

#cart-bottom .coupon input {
  margin-bottom: .5rem;
  margin-left: .5rem;
}

#cart-bottom .total h5 {
  background: #000;
  color: #fff;
  font-weight: 700;
  padding: .2rem 1rem;
}

#cart-bottom p {
  color: black;
}

.proceed {
  text-align: center;
  width: fit-content;
  display: inline-block;
  font: 500 14px "Montserrat", sans-serif;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  padding: 7px 10px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.proceed:hover {
  background-color: white;
  transition: all 0.3s ease-out;
  color: #010101;
  border: 1px solid #000;
}


/* ------------------------------------------------------------------
----------------------checkout------------------------------------
------------------------------------------------------------------ */

#checkout {
  /* background-image: linear-gradient(rgb(237, 237, 210),rgb(212, 243, 214),rgb(202, 202, 229),rgb(236, 148, 148)); */
  position: relative;
  top: 4.3rem;
  width: 100%;
  margin-bottom: 4.4rem;
  display: flex;
  padding: .5rem .1rem;
  justify-content: space-around;
}

.details {
  max-width: 50rem;
  padding: 1rem;
  height: fit-content;
  background-color: #ededed;
  /* background-image: linear-gradient(rgb(237, 237, 210),rgb(212, 243, 214),rgb(202, 202, 229),rgb(236, 148, 148)); */
}

p {
  color: var(--color-gray);
}

hr {
  height: 1px;
  width: 100%;
  background-color: grey;
  border: 0;
  margin: 1.3rem 0;
}

form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: .3rem;
  border-radius: .25rem;
}

.field__label {
  color: grey;
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.2rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}

.fields--2 {
  grid-template-columns: 1fr 1fr;
}

.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.order {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: .8rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.order:hover {
  background-color: #ffffff;
  transition: all 0.3s ease-out;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.checkout-bottom {
  /* background-image: linear-gradient(rgb(237, 237, 210),rgb(212, 243, 214),rgb(202, 202, 229),rgb(236, 148, 148)); */
  background-color: #ededed;
  width: 30%;
  height: fit-content;
  padding: 1rem;
}


/* ================================================================================
==================================== contact ======================================
=================================================================================*/

#contact {
  background-image: linear-gradient(rgb(237, 237, 210), rgb(212, 243, 214), rgb(202, 202, 229), rgb(236, 148, 148));
  position: relative;
  top: 4.3rem;
  width: 100%;
  margin-bottom: 4.3rem;
  padding: .7rem .1rem;
}

#contact h2 {
  text-align: center;
}

.cbg {
  max-width: 60rem;
  height: auto;
  background-color: #ffffff;
  padding: 2rem;
  margin: auto;
}

.send {
  background-color: #000;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 70%;
  padding: .8rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.send:hover {
  background-color: #ffffff;
  transition: all 0.3s ease-out;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}



/* ====================================================================================
=======================================FAQ=============================================
 ====================================================================================*/

.headline {
  position: relative;
  top: 4.5rem;
  height: 4rem;
  line-height: 180px;
  text-align: center;
  background-color: tomato;
}
.headline h1 {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 1024px) {
  .headline {
    height: 3rem;
    line-height: 240px;
  }
  .headline h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
  }
}

.faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.faq:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}
.categories a::before, .categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  .categories a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .categories a::before, .categories a::after {
    display: none;
  }
  .no-touch .categories a:hover {
    background: #555b61;
  }
  .no-js .categories {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .categories {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2;
  }
  .categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #a9c056;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .categories .selected {
    background: #42464b !important;
  }
  .categories .selected::before {
    opacity: 1;
  }
  .categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }
  .no-js .categories {
    position: relative;
  }
}

.faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}
@media only screen and (min-width: 1024px) {
  .faq-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.faq-group {
  /* hide group not selected */
  display: none;
}
.faq-group.selected {
  display: block;
}
.faq-group .faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .faq-group .faq-title:hover {
  box-shadow: none;
}
.faq-group .faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #bbbbc7;
}
.no-js .faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .faq-group {
    /* all groups visible */
    display: block;
  }
  .faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .no-touch .faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }
  .faq-group .faq-title {
    margin: 2em 0 1em;
  }
  .faq-group:first-child .faq-title {
    margin-top: 0;
  }
}

.trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .trigger::before, .trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.faq-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #6c7d8e;
}
@media only screen and (min-width: 768px) {
  .faq-content {
    display: none;
    padding: 0 24px 30px;
  }
  .faq-content p {
    line-height: 1.6;
  }
  .no-js .faq-content {
    display: block;
  }
}